<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Rubik+Moonrocks&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <title>locations</title>
</head>


<body>
    <div class="pageCointainer">
        <div class="contentWrap">

            <header>

                <nav class="navbar navbar-expand-lg navbar-custom">
                    <div class="container-fluid">
                        <a class="navbar-brand mx-4" href="/index.html"><img class="logoPrincipal"
                                src="/resource/Logo Rick_and_Morty.svg" alt="logp"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse mb-3" id="navbarNav">
                            <ul class="navbar-nav ms-auto nav-pills nav-fill gap-2 p-1 small bg-dark rounded-5 shadow-sm mx-4"
                                id="pillNav2" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a href="/index.html"><button class="nav-link anckors rounded-5" id="home-tab2"
                                            data-bs-toggle="tab" type="button" role="tab"
                                            aria-selected="true">Home</button></a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="/pages/characters.html"><button class="nav-link anckors  rounded-5"
                                            id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
                                            aria-selected="false">Characters</button></a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="/pages/episodes.html"><button class="nav-link anckors rounded-5"
                                            id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
                                            aria-selected="false">Episodes</button></a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="/pages/locations.html"><button class="nav-link anckors active rounded-5"
                                            id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
                                            aria-selected="false">Localization</button></a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="/pages/stats.html"><button class="nav-link anckors rounded-5"
                                            id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
                                            aria-selected="false">Stats</button></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>


            </header>



            <main id="app">

                <div class="container container-fluid">



                    <div class=" ">
                        <div class="row  mb-4">
                            <div class="position-relative col-sm-3 ">
                                <div class="selectLocation  ">
                                    <select id="mySelect" class="form-select custom-select  text-center selectLocation " style="width: 150px;" aria-label="Default select example"
                                        v-model="filtroUbicacion" v-on:change="filtrarPersonajesPorUbicacion">
                                        <option value="">Locations</option>
                                        <option v-for="ubicacion in ubicaciones" :key="ubicacion.id"
                                            :value="ubicacion.id" class="">
                                            {{ ubicacion.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-9">

                                <h1 class="text-center titleCharacters my-1 ">Location</h1>
                                <h3 v-if="ubicacionSeleccionada"
                                    class="text-center textLocation  my-4 display-5 fw-bold">
                                    {{ ubicacionSeleccionada.name }}
                                </h3>
                                <div class="containerCards d-flex flex-wrap justify-content-center">
                                    <div class="card mx-2 my-4 cardCharaters col-xs-12 col-sm-6 col-md-6 col-lg-4 position-relative"
                                        style="width: 18rem;" v-for="personaje in personajesFiltrados"
                                        :key="personaje.id">
                                        <span v-if="personaje.status === 'Alive'"
                                            class="badge text-bg-success position-absolute top-0 end-0 m-3 p-2 fs-5">
                                            {{ personaje.status }}
                                        </span>
                                        <span v-else-if="personaje.status === 'Dead'"
                                            class="badge text-bg-danger position-absolute top-0 end-0 m-3 p-2 fs-5">
                                            {{ personaje.status }}
                                        </span>
                                        <span v-else="personaje.status === 'unknown'"
                                            class="badge text-bg-secondary position-absolute top-0 end-0 m-3 p-2 fs-5">
                                            {{ personaje.status }}
                                        </span>

                                        <img :src="personaje.image" class="card-img-top imageCards"
                                            :alt="personaje.name">

                                        <div class="card-body">
                                            <h5 class="card-title fs-3">{{ personaje.name }}</h5>
                                            <p class="card-text fs-5 mt-4">Species: {{ personaje.species }}</p>
                                            <p class="card-text fs-5 mt-4">Last Location: {{ personaje.location.name }}
                                            </p>
                                        </div>
                                        <div class="card-body">
                                            <a :href="'/pages/detalis.html?id=' + personaje.id"
                                                class="stretched-link"></a>
                                        </div>
                                    </div>
                                </div>

                                <div v-if="personajesFiltrados.length === 0 && filtroUbicacion !== ''"
                                    class="text-center my-4">
                                    <h2 class="my-3 text-center display-4 fw-bold textLocation">There are no characters
                                        in this location</h2>
                                    <img src="/resource/rickPaginaVacia.png" class="img-fluid imageLocation"
                                        alt="Default Image">
                                </div>

                                <div v-if="filtroUbicacion === '' && ubicaciones.length > 0" class="text-center my-4">

                                    <h4 class="my-1 text-center display-4 fw-bold textLocation">Select a location</h4>
                                    <div class="my-4">

                                        <img src="/resource/rickPosition1.png" class="mb-4 imageLocation"
                                            alt="Default Image">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                        crossorigin="anonymous"></script>
                    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
                    <script src="../modules/locations.js" type="module"></script>

            </main>


        </div>
        <footer class="d-flex flex-row justify-content-evenly mt-3 align-items-center footer">
            <a class="users fs-5" href="https://github.com/Brayanfloresf3/"><i
                    class="bi bi-github fs-3 mx-2"></i>BrayanFloresf3</a>
            <a class="users fs-5" href="https://github.com/mmateitto/"><i
                    class="bi bi-github fs-3 mx-2"></i>mmateitto</a>
            <a class="users fs-5" href="https://github.com/Jesus-Fernandez1/"><i
                    class="bi bi-github fs-3 mx-2"></i>Jesus-Fernandez1</a>
            <a class="users fs-5" href="https://github.com/SrSleep/"><i class="bi bi-github fs-3 mx-2"></i>SrSleep</a>
            <a class="users fs-5" href=""><i class="bi bi-github fs-3 mx-2"></i>Andres Bustos</a>
        </footer>




    </div>




</body>


</html>