body {
    background-image: url(/resource/fondoImagen.jpg);
}

.texas {
    background-color: #ebe480;
}

.endo {
    background-color: #60a85f;
}

.logo {
    height: 55px;
    object-fit: cover;
}

.logo2 {
    height: 85px;
    transform: translateY(-22px);
}

.tamanoCarrusel {
    height: 350px;
}

.imagenCarrusel {
    height: 350px;
    object-fit: cover;
}

.pageCointainer {
    position: relative;
    min-height: 100vh;
}

.contentWrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #a6cccc;
}
.sombra {

    box-shadow:0 4px 8px rgba(0, 0, 0, 0.829), 0 6px 15px rgba(98, 231, 21, 0.795);
}