.texas {
    background-color: #ebe480;
}

.endo {
    background-color: #60a85f;
}

.logo {
    width: 100%;
    height: 60vh;
    object-fit: contain;
}

.pageCointainer {
    position: relative;
    min-height: 100vh;
}

.contentWrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: rgba(255, 248, 220, 0.301);
    
}

.detalleImagen {
    width: 20rem;
    margin: 0;
}

.tituloHome {
    font-family: "Bungee", sans-serif;
    color: rgba(42, 171, 197, 0.87);
    /* font-size: 4vw; */
    -webkit-text-stroke: 1.5px #99F543;
    font-size: 3vh;
}

.textoRobot {
    font-family: "Roboto Mono", monospace;
    color: white;
    font-size: 15px;
}

.detalleImagen {
    width: 20rem;
    margin: 0;
}

/* style characters brayan */

body {
    background-image: url(/resource/fondo2.png);
    background-size: 100%;
    background-repeat: repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

main {
    min-height: 67vh;
    margin-bottom: 4vh;
}

.logoPrincipal {
    width: auto;
    height: 55px;
}

.navbar-custom {
    background-color: transparent;

}

.anckors.active {
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
    background-color: #99F543 !important;
    color: #13ACC9;
}

.anckors:hover {
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
    background-color: #99F543 !important;

}

a {
    text-decoration: none;
}

li {
    padding: 2px;
    min-width: 10vw;
}

.anckorsContainer {
    width: 50vw;
    height: 50px;
    background-color: rgba(255, 248, 220, 0);
}

.anckors {
    color: #13ACC9;
    font-weight: bold;
}

.titleCharacters {
    font-family: "Bungee", sans-serif;
    color: rgba(42, 171, 197, 0.87);
    /* font-size: 4vw; */
    -webkit-text-stroke: 1.5px #99F543;
}



.imageCards {
    height: 40vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardCharaters {
    color: black;
    background-color: #A9D3E9;
    border-radius: 20px;
}

.cardDetails {
    color: black;
    background-color: #A9D3E9;
    border-radius: 20px;
    box-shadow: 0 4px 10px 2px rgb(138, 246, 36);
}

.cardTitleCharacters {
    font-family: "Bungee", sans-serif;
}

.cardCharaters:hover {
    color: black;
    background-color: #A9D3E9;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    transform: scale(1.05);
    box-shadow: 0 4px 10px 2px rgb(138, 246, 36);
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.users {
    color: ivory;
}

.textCharacters {
    color: ivory;
}

/* search bar */
.form-control {
    height: 40px;
    border-radius: 20px;
    border-color: #99F543;
    padding: 10px 15px;
    font-size: 16px;
    box-shadow: 0 1px 1px 1px rgb(138, 246, 36);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: rgb(212, 239, 245);
}

.form-control:focus {
    border-color: #99F543;
    box-shadow: 0 4px 10px 2px rgb(138, 246, 36);
    background-color: rgb(212, 239, 245);
}

.form-search {
    height: 40px;
    border-radius: 20px;
    border-color: #99F543;
    padding: 10px 15px;
    font-size: 16px;
    box-shadow: 0 1px 1px 1px rgb(138, 246, 36);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: rgb(212, 239, 245);
}

.form-search:focus {
    border-color: #99F543;
    box-shadow: 0 4px 10px 2px rgb(138, 246, 36);
    background-color: rgb(212, 239, 245);
}


.bi-search {
    font-size: 1.2rem;
    color: #13ACC9;
    transition: color 0.3s ease-in-out;
}

/* list select */
.dropdown-toggle-custom {
    box-shadow: 0 0 10px 2px rgba(115, 204, 226, 0.685);
    background-color: #212529;
    font-weight: bold;
    color: #13ACC9;
    border: none;
    border-radius: 20px;
    padding: 8px;
    min-width: 14vw;
}

.dropdown-toggle-custom:hover,
.dropdown-toggle-custom:focus {
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
    background-color: #99F543;
    color: #13ACC9;
}

.dropdown-item-custom {
    color: #13ACC9;
}

.dropdown-menu-custom {
    background-color: #212529;
    color: #13ACC9;

}

.dropdown-item-custom.active,
.dropdown-item-custom:hover {
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
    background-color: #99F543;
    color: #13ACC9;
    font-weight: bold;
}

/* details */
.dropdown-toggle-custom-details {
    box-shadow: 0 0 10px 2px rgba(115, 204, 226, 0.685);
    background-color: #212529;
    font-weight: bold;
    color: #13ACC9;
    border: none;
    border-radius: 20px;
    padding: 8px;
    min-width: 10vw;
}

@media (max-width: 776px) {
    .footer {
        height: 4.5rem;
    }

    .backgroundTarjeta {
        width: 400px;
        background-color: #99F543;
    }

    .divCharacters {
        height: 150px;
    }
    
}

/* location */
.imageLocation {
    height: 50vh;
}

.selectLocation {
    margin-top: 330px;
}

.textLocation {
    font-family: "Bungee", sans-serif;
    color: rgb(88, 247, 67);
    font-size: 4vh;
    -webkit-text-stroke: 1.5px #13ACC9;
}

@media (max-width: 576px) {
    .selectLocation {
        margin-top: 50px;
    }
    
}

#mySelect {
    box-shadow: 0 0 10px 2px rgba(115, 204, 226, 0.685);
    background-color: #212529;
    font-weight: bold;
    color: #13ACC9;
    box-shadow: 0 0 10px 2px rgb(30, 210, 255);
    font-weight: bold;
}

#mySelect option:hover {
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
    background-color: #99F543;
    color: #13ACC9;
    font-weight: bold;
}

.textoTarjetaStats {
    font-weight: bold;
    color: rgba(3, 1, 0, 0.993);
    -webkit-text-stroke: 0.5px #13ACC9;
}

.divImagenCharactersStat {
    align-self: center;
}
.divImagenLocationStat{
    align-self: center;
}

.imagenCharactersStats {
    height: 350px;
    align-self: center;
}

.backgroundTarjeta {
    height: 100px;
    align-self: center;
    border-radius: 20px;
    background-color: #99F543;
}

.divCharacters {
    height: 450px;
}

.imagenlocationStats {
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}
.imagenEpisodesStats{
    width: 350px;
}
@media (max-width: 824px) {
    .divImagenLocationStat{
        order: 3;
    }
}

.backgroundDatos {
    height: 120px;
    align-self: center;
    border-radius: 20px;
    background-color: #99F543;
}

.spanIndex{
    font-family: "Bungee", sans-serif;
    color: rgba(42, 171, 197, 0.87);
    /* font-size: 4vw; */
    -webkit-text-stroke: 1.5px #99F543;
}
.btn-custom-primary {
    background-color: #212529;
    color: #13ACC9;
    box-shadow: 0 0 10px 2px rgba(115, 204, 226, 0.685);
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: small;
    border-radius: 30px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
}

.btn-custom-primary:hover {
    background-color: #99F543;
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
}

/* container modal */

#favoritesModal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #212529;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #212529;
    color: #13ACC9;
    border-bottom: none;
    text-shadow: 0 0 10px 2px rgba(115, 204, 226, 0.685);
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    background-color: #212529;
    border-top: none;
}

.btn-custom-delete {
    background-color: #212529;
    color: #13ACC9;
    box-shadow: 0 0 10px 2px rgba(115, 204, 226, 0.685);
    border: none;
    padding: 10px 25px;
    font-weight: bold;
    font-size: small;
    border-radius: 30px;
}

.btn-custom-delete:hover {
    background-color: #99F543;
    color: #13ACC9;
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
}


.btn-custom-details {
    background-color: #212529;
    color: #13ACC9;
    box-shadow: 0 0 10px 2px rgba(115, 204, 226, 0.685);
    border: none;
    padding: 10px 25px;
    font-weight: bold;
    font-size: small;
    border-radius: 30px;
    text-align: center;
  
}

.btn-custom-details:hover {
    background-color: #99F543;
    color: #13ACC9;
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
}

