.texas {
    background-color: #ebe480;
}

.endo {
    background-color: #60a85f;
}

.logo {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.pageCointainer {
    position: relative;
    min-height: 100vh;
}

.contentWrap {
    padding-bottom: 2.5rem;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    background-color: rgba(255, 248, 220, 0.301);
}

/* style characters brayan */

body {
    background-image: url(/resource/fondo2.png);
    background-size: 100%;
    background-repeat: repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.logoPrincipal {
    width: auto;
    height: 55px;
}

.navbar-custom {
    background-color: transparent;
}

.anckors.active {
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
    background-color: #99F543 !important;
    color: #13ACC9;
}

.anckors:hover {
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
    background-color: #99F543 !important;
}

a {
    text-decoration: none;
}

li {
    padding: 2px;
    min-width: 10vw;
}

.anckorsContainer {
    width: 50vw;
    height: 50px;
    background-color: rgba(255, 248, 220, 0);
}

.anckors {
    color: #13ACC9;
    font-weight: bold;
}

.titleCharacters {
    font-family: "Bungee", sans-serif;
    color: #13ACC9;
    font-size: 8vh;
    -webkit-text-stroke: 1.5px #99F543;
    text-stroke: 1px #99F543;
}

.imageCards {
    height: 40vh;
}

.cardCharaters {
    color: white;
    background-color: rgba(114, 99, 99, 0.781);
}

.cardTitleCharacters {
    font-family: "Bungee", sans-serif;
}

.cardCharaters:hover {
    color: white;
    background-color: black;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    transform: scale(1.05);
    box-shadow: 0 4px 10px 2px rgb(138, 246, 36);
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.users {
    color: ivory;
}

.form-control {
    border-radius: 20px;
    border-color: #99F543;
    padding: 10px 15px;
    font-size: 16px;
    box-shadow: 0 1px 1px 1px rgb(138, 246, 36);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: rgb(212, 239, 245);
}

.form-control:focus {
    border-color: #99F543;
    box-shadow: 0 4px 10px 2px rgb(138, 246, 36);
    background-color: rgb(212, 239, 245);
}

.bi-search {
    font-size: 1.2rem;
    color: #13ACC9;
    transition: color 0.3s ease-in-out;
}

.dropdown-toggle-custom {
    box-shadow: 0 0 10px 2px rgba(115, 204, 226, 0.685);
    background-color: #212529;
    font-weight: bold;
    color: #13ACC9;
    border: none;
}

.dropdown-toggle-custom:hover,
.dropdown-toggle-custom:focus {
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
    background-color: #99F543;
    color: #13ACC9;
}

.dropdown-menu-custom {
    background-color: #212529;
    color: #13ACC9;

}

.dropdown-item-custom.active,
.dropdown-item-custom:hover {
    box-shadow: 0 0 10px 2px rgb(138, 246, 36);
    background-color: #99F543;
    color: #13ACC9;
    font-weight: bold;
}

.textLocation {
    font-family: "Bungee", sans-serif;
    color: rgb(88, 247, 67);
    font-size: 4vh;
    -webkit-text-stroke: 1.5px #13ACC9;


}


.imageLocation {
    height: 50vh;

}


.selectLocation {



    margin-top: 330px;
}

@media (max-width: 576px) {
    .selectLocation {
        margin-top: 50px;
    }
}

#mySelect{

    background-color: #99F543;
    color: #040505; border: #13ACC9;
    box-shadow: 0 0 10px 2px rgb(30, 210, 255);
   font-weight: bold;
}

